div.square-selected{
  /*border: solid 5px #f0f;*/
  background-color: lightblue;
  width: 20px;
  height: 20px;
}
div.square-default{
  background-color: lightgrey;
  width: 20px;
  height: 20px;
}
div.position3{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

table.center1
{
margin-left: auto;
margin-right: auto;
}
table.position2{
  position: absolute;
  top: 50%;
  left: 50%;
}

table.position3{
  display: flex;
  align-items: center;
  justify-content: center
}
